@model ReservationCreateViewModel

@{
    ViewData["Title"] = "Create Reservation";
}
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="card rounded-3" style="background-color:#F0F2F5">
        <h1 class="text-center">Create Reservation</h1>
        <div class="card-body p-4 p-md-5">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AccommodationDate" class="control-label"></label>
                    <input asp-for="AccommodationDate" min="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
                    <span asp-validation-for="AccommodationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LeaveDate" class="control-label"></label>
                    <input asp-for="LeaveDate" min="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
                    <span asp-validation-for="LeaveDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HasAllInclusive" class="control-label"></label>
                    <input asp-for="HasAllInclusive" class="form-control" />
                    <span asp-validation-for="HasAllInclusive" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HasBreakfast" class="control-label"></label>
                    <input asp-for="HasBreakfast" class="form-control" />
                    <span asp-validation-for="HasBreakfast" class="text-danger"></span>
                </div>
                <h4>
                    Available Customers:
                </h4>
                <table class="table table-striped table-hover "
                       style="border-radius: 10px; overflow: hidden;">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Customers.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Customers[i].Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Customers[i].FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Customers[i].LastName)
                                </td>
                                <td>                                   
                                    @Html.CheckBoxFor(model => Model.Customers[i].HasReservation)
                                    @Html.HiddenFor(model => Model.Customers[i].Id)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-controller="Customers" asp-action="Create" class="btn btn-primary" style="margin: 10px 0px 10px 0px">New Customer <i class="fa-regular fa-square-plus"></i></a>


                <div class="form-group">
                    <label asp-for="RoomId" class="control-label">Room</label>
                    <select asp-for="RoomId" asp-items="@Model.Rooms"></select>
                    <span asp-validation-for="RoomId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}