@model UserDetailsViewModel

@{
    ViewData["Title"] = "User Details";
}


<div class="card rounded-3" style="background-color:#F0F2F5">
    <h1 class="text-center ">Details</h1>
    <div class="card-body p-4 p-md-5 ">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MiddleName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MiddleName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UCN)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UCN)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HireDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HireDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsActive)
            </dd>
            @if (Model.FireDate != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FireDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FireDate)
                </dd>
            }
            <div class="col-md-12">
                <a asp-action="Edit" asp-route-id="@Model.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                <a asp-action="Delete" asp-route-id="@Model.Id"><i class="fa-solid fa-trash"></i></a>
            </div>
        </dl>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
