@model UsersIndexViewModel
@{
    ViewData["Title"] = "Users";
}
<h1>Users</h1>

<form asp-action="Index" method="get">
    <div>
        <h4>Filter by:</h4>
        <div>
            <label asp-for="Filter.FirstName"></label>
            <input type="text" asp-for="Filter.FirstName" />
        </div>
        <div>
            <label asp-for="Filter.MiddleName"></label>
            <input type="text" asp-for="Filter.MiddleName" />
        </div>
        <div>
            <label asp-for="Filter.LastName"></label>
            <input type="text" asp-for="Filter.LastName" />
        </div>
        <div>
            <label asp-for="Filter.UserName"></label>
            <input type="text" asp-for="Filter.UserName" />
        </div>
        <div>
            <label asp-for="Filter.Email"></label>
            <input type="text" asp-for="Filter.Email" />
        </div>
        <input type="submit" class="btn btn-info" />
    </div>
</form>

<table class="table table-striped table-hover "
       style="border-radius: 10px; overflow: hidden;">
    <thead class="thead-dark">
        <tr>
            <th>User Name</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>UCN</th>
            <th>Email</th>
            <th>Hire Date</th>
            <th>Activity</th>
            <th>Fire Date</th>
            <th></th>
        </tr>
    </thead>
    <a asp-controller="Users" asp-action="Create" class="btn btn-primary" style="margin: 10px 0px 10px 0px">New User <i class="fa-regular fa-square-plus"></i></a>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UCN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FireDate)
                </td>
                <td>
                    <p class="text-nowrap">
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<partial name="_PagingPartial" />